$primary-color:#ffefe7;
$secondary-color:#ffdac6;
$tertiary-color:#babd8d;
$primary-text-color:#7c6a0a;
$quaternary-color:#fa9500;
$font-stack:"IBM Plex Sans", sans-serif;


    nav{
        padding: 15px;
     p{
        font-size: 2.3rem;
     }   

     .icons button svg{
        width: 30px;
        height: 30px;
     }
    }

  main{
        article{
            flex-direction: row;
            width: auto;
            justify-content: space-between;
            padding-top: 20px;
            
            .impac-section{
                width: 50vw;
                padding-left: 40px;
                padding-top: 70px;
                h1{
                    font-size:5rem ; 
                    margin-bottom: 30px;
                 }
                
                p{
                    font-size:1.8rem;
                    margin-bottom: 40px;
                    font-weight: 500;
                    line-height: normal;
                }
                button{
                  width: 12vw; 
                  border-radius: 365px; 
                  display: inline-block;
                  padding:20px;
                }
            }
            .image-section{
                width: 50vw;
                max-height: 700px;
                max-height: 590px;
                height: inherit;
              
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 19px;
                 
                }
            }
        }

        .product-section{
            width: 100%;
            height: auto;
            padding: 60px;
        
             h2{
                font-size: 5rem;

                }
            .healtcare{
               
            } 
        
            .card-section{
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                column-gap: 109px;
                row-gap: 80px;
               
                
            }

            .product-card{
               width: 300px;
               height: 561px;
               
                
            
                .icon{
                   
            
                    svg{
                        
                    }
                }
                .product-image{
                    width: 100%;
                    height: 74%;
                  
                    img{
                        height: 50%;
                        object-fit: cover;
                    }
                }
            
                    h3{
                        margin-top: 8px;
                        font-size:2rem;
                    
                    }
                    p{
                        padding-left: 24px;
                        padding-right: 24px;
                        font-size:1.7rem;
                    }
                }
        

        }
        
        .info-section{
            padding-left: 40px;
            padding-right: 40px;
            .about-us{
                h2{
                    margin-bottom: 20px;
                }
                .mission-section{
                    margin-bottom: 70px;
                    padding-left: 50px;
                    padding-right: 50px;
                    flex-direction: row;
                    .earth{
                        flex-direction: row;
                        justify-content: center;
                        img{
                            width: 25%;
                        }
                        p{
                            width: 45%;
                            font-size: 1.7rem;
                        }
                    }
                    .innovation{
                        @extend .earth
                    }
                }

                .gallery{
                    height: 350px;
                   .images{
                        flex-direction: row ;
                    div{
                        width: inherit;
                        height:85%;
                        flex-grow: 1;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }      
                }
            }

           
        }
 
        }
    }
        

  